
@model KulturniCentar.ViewModels.KursCiklus
<h2>Ciklusi za kurs </h2> @Model.Kurs
<input asp-for="KursId" hidden />
<table class="table table-striped">
    <thead>
        <tr>
            <th>Naziv</th>
            <th>JeZavrsen</th>
            <th>Datum pocetka</th>
            <th>Datum zavrsetka</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in @Model.Rows)
        {
            <tr>
                <td>@x.Naziv</td>
                <td>@x.JeZavrsen</td>
                <td>@x.DatumPocetka</td>
                <td>@x.DatumZavrsetka</td>
                @if (Global.Role == "Admin")
                {
                    <td>
                        <a asp-action="Obrisi" asp-route-kursId="@Model.KursId" asp-route-ciklusId=@x.CiklusId class="btn btn-danger">Obrisi</a>
                        <a asp-action="Uredi" asp-route-kursId="@Model.KursId" asp-route-ciklusId=@x.CiklusId class="btn btn-info">Uredi</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
@if (Global.Role == "Admin")
{
    <a asp-action="Dodaj" asp-route-kursId="@Model.KursId" class="btn btn-success">Dodaj</a>
}
