@model KulturniCentar.ViewModels.CiklusDetaljiVM

<h2> Kurs: @Model.Kurs   --- Ciklus: @Model.Ciklus  </h2>
Datum pocetka:
<input type="submit" value="@Model.DatumPocetka" readonly />
Datum zavrsetka:
<input type="submit" value="@Model.DatumZavrsetka" readonly />
<br />
<input asp-for="CiklusId" hidden />
Nedodijeljeni polaznici
<table class="table table-striped">
    <thead>
        <tr>
            <th>Polaznik</th>
            <th>Ocjeni</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in @Model.Neocijenjeni)
        {
            <tr>
                <td>@x.Polaznik</td>
                <td>
                    <a asp-action="Ocijeni" asp-route-polaznikCiklusId=@x.Id class="btn btn-danger">Ocijeni</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
Dodijeljeni polaznici
<table class="table table-striped">
    <thead>
        <tr>
            <th>Polaznik</th>
            <th>Ocjena</th>
            <th>Uredi</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in @Model.Ocijenjeni)
        {
        <tr>
            <td>@x.Polaznik</td>
            <td>@x.Ocjena</td>
            <td>
                <a asp-action="UrediOcjenu" asp-route-polaznikCiklusId=@x.Id class="btn btn-danger">Uredi Ocjenu</a>
                <a asp-action="ObrisiOcjenu" asp-route-polaznikCiklusId=@x.Id class="btn btn-danger">Obrisi Ocjenu</a>
            </td>
        </tr>
        }
    </tbody>
</table>
